<a href="https://colab.research.google.com/github/coreyalejandro/Prediction-of-Product-Sales/blob/main/MyPredictions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Prediction of Project Sales**

- #### **Author:** Corey Alejandro
- #### **Last Updated:** May 2023

## **Project Overview**

This data science project is an end-to-end predictive sales prediction for food items sold at one company's various stores. The goal of the project is to help the retailer understand what features of products and of stores play a crucial roles in increasing sales. The project employs a loosley coupled  gurcedais the Data Dictionary for this dataset:

## **Phase 1. Business Understanding**

- *What is the stakeholder's goal? What do they need*?

### **Our Task/Stakeholders**

**Our stakeholders are:** BigMart retailors.

**Their primary goal is:** To understand the properties of products and outlets that drive sales

**They plan to:** Provide the data be used to build the predictive model.

**What they need/expect:** Actionable insights/recommendations for which modifications they can make to increase the sales of their products.


With this established, whenever doubts or questions about which option would be best for our analysis arises, we can return to our business understanding to remind ourselves: what is important.

## **The Data**

### **Dataset**

The sales data was retrieved from [here](https://drive.google.com/file/d/1syH81TVrbBsdymLT_jl2JIf6IjPXtSQw/view) 

The data was originally sourced from [analyticsvidhya.com](https://datahack.analyticsvidhya.com/contest/practice-problem-big-mart-sales-iii/)

### **Data Dictionary**

<table style="border-collapse: collapse; border: 1px solid black;"><caption> <strong> Data Dictionary </strong> </caption><tbody><tr><td style="border: 1px solid black;"><strong>Variable Name</strong></td><td style="border: 1px solid black;"><strong>Description</strong></td></tr><tr><td style="border: 1px solid black;">Item_Identifier</td><td style="border: 1px solid black;">Unique product ID</td></tr><tr><td style="border: 1px solid black;">Item_Weight</td><td style="border: 1px solid black;">Weight of product</td></tr><tr><td style="border: 1px solid black;">Item_Fat_Content</td><td style="border: 1px solid black;">Whether the product is low fat or regular</td></tr><tr><td style="border: 1px solid black;">Item_Visibility</td><td style="border: 1px solid black;">The percentage of total display area of all products in a store allocated to the particular product</td></tr><tr><td style="border: 1px solid black;">Item_Type</td><td style="border: 1px solid black;">The category to which the product belongs</td></tr><tr><td style="border: 1px solid black;">Item_MRP</td><td style="border: 1px solid black;">Maximum Retail Price (list price) of the product</td></tr><tr><td style="border: 1px solid black;">Outlet_Identifier</td><td style="border: 1px solid black;">Unique store ID</td></tr><tr><td style="border: 1px solid black;">Outlet_Establishment_Year</td><td style="border: 1px solid black;">The year in which store was established</td></tr><tr><td style="border: 1px solid black;">Outlet_Size</td><td style="border: 1px solid black;">The size of the store in terms of ground area covered</td></tr><tr><td style="border: 1px solid black;">Outlet_Location_Type</td><td style="border: 1px solid black;">The type of area in which the store is located</td></tr><tr><td style="border: 1px solid black;">Outlet_Type</td><td style="border: 1px solid black;">Whether the outlet is a grocery store or some sort of supermarket</td></tr><tr><td style="border: 1px solid black;">Item_Outlet_Sales</td><td style="border: 1px solid black;">Sales of the product in the particular store. This is the target variable to be predicted.<a href="https://github.com/ShauryaBhandari/Bigmart-Sales-Prediction#why-does-the-the-problem-need-to-be-solved"></a></td></tr></tbody></table>

Hypothesis check

### **Import Libraries**

In [ ]:
## Import necessary packages.
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

### **Load the Data**

In [ ]:
## Define the url of the file to load.
url = 'https://drive.google.com/file/d/1syH81TVrbBsdymLT_jl2JIf6IjPXtSQw/view?usp=sharing'
file_id = url.split('/')[-2]
dwn_url = 'https://drive.google.com/uc?id=' + file_id

In [ ]:
## Load dataset as Pandas dataframe.
df = pd.read_csv(dwn_url)

### **Inspect the Data**

#### **.head()**

In [ ]:
## Display the first (5) rows of the dataframe
df.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

#### **df.tail()**

In [ ]:
# Display the last 5 rows
df.tail()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
8518,FDF22,6.865,Low Fat,0.056783,Snack Foods,214.5218,OUT013,1987,High,Tier 3,Supermarket Type1,2778.3834
8519,FDS36,8.380,Regular,0.046982,Baking Goods,108.1570,OUT045,2002,NaN,Tier 2,Supermarket Type1,549.2850
8520,NCJ29,10.600,Low Fat,0.035186,Health and Hygiene,85.1224,OUT035,2004,Small,Tier 2,Supermarket Type1,1193.1136
8521,FDN46,7.210,Regular,0.145221,Snack Foods,103.1332,OUT018,2009,Medium,Tier 3,Supermarket Type2,1845.5976
8522,DRG01,14.800,Low Fat,0.044878,Soft Drinks,75.4670,OUT046,1997,Small,Tier 1,Supermarket Type1,765.6700

#### **df.info()**

In [ ]:
## Display the column names, count of non-null values, and their datatypes
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

- Data appears to have successfully loaded.
- All of the columns are visible. The default display options are sufficient.

#### **.shape()**

In [ ]:
## Display the number of rows and columns for the dataframe
df.shape
print(f'There are {df.shape[0]} rows, and {df.shape[1]} columns.')
print(f'The rows represent {df.shape[0]} observations, and the columns represent {df.shape[1]-1} features and 1 target variable to predict.')

There are 8523 rows, and 12 columns.
The rows represent 8523 observations, and the columns represent 11 features and 1 target variable to predict.

#### **.dtypes**

In [ ]:
## Display the column names and datatypes for each column
## Columns with mixed datatypes are identified as an object datatype
df.dtypes

Item_Identifier               object
Item_Weight                  float64
Item_Fat_Content              object
Item_Visibility              float64
Item_Type                     object
Item_MRP                     float64
Outlet_Identifier             object
Outlet_Establishment_Year      int64
Outlet_Size                   object
Outlet_Location_Type          object
Outlet_Type                   object
Item_Outlet_Sales            float64
dtype: object

#### **.describe()**

In [ ]:
## Display the descriptive statistics for the numeric columns
## Using include="number"
df.describe(include="number")

### **Missing Values**
Checking for missing values

##  **Phase 2. Data Understanding**
- *What data do we have/need, and is it clean?*

Identifying number of missing data:

In [ ]:
null_sums = df.isna().sum()
print(null_sums)

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

Identifying percent of missing data:

In [ ]:
null_percent = null_sums/len(df) * 100
null_percent
print(null_percent[null_percent>0])

Item_Weight    17.165317
Outlet_Size    28.276428
dtype: float64

Using filters to inspect missing data.

In [ ]:
null_Item_Weight = df['Item_Weight'].isna()
null_Item_Weight

0       False
1       False
2       False
3       False
4       False
        ...
8518    False
8519    False
8520    False
8521    False
8522    False
Name: Item_Weight, Length: 8523, dtype: bool

In [ ]:
df[null_Item_Weight]

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
7,FDP10,NaN,Low Fat,0.127470,Snack Foods,107.7622,OUT027,1985,Medium,Tier 3,Supermarket Type3,4022.7636
18,DRI11,NaN,Low Fat,0.034238,Hard Drinks,113.2834,OUT027,1985,Medium,Tier 3,Supermarket Type3,2303.6680
21,FDW12,NaN,Regular,0.035400,Baking Goods,144.5444,OUT027,1985,Medium,Tier 3,Supermarket Type3,4064.0432
23,FDC37,NaN,Low Fat,0.057557,Baking Goods,107.6938,OUT019,1985,Small,Tier 1,Grocery Store,214.3876
29,FDC14,NaN,Regular,0.072222,Canned,43.6454,OUT019,1985,Small,Tier 1,Grocery Store,125.8362
...,...,...,...,...,...,...,...,...,...,...,...,...
8485,DRK37,NaN,Low Fat,0.043792,Soft Drinks,189.0530,OUT027,1985,Medium,Tier 3,Supermarket Type3,6261.8490
8487,DRG13,NaN,Low Fat,0.037006,Soft Drinks,164.7526,OUT027,1985,Medium,Tier 3,Supermarket Type3,4111.3150
8488,NCN14,NaN,Low Fat,0.091473,Others,184.6608,OUT027,1985,Medium,Tier 3,Supermarket Type3,2756.4120
8490,FDU44,NaN,Regular,0.102296,Fruits and Vegetables,162.3552,OUT019,1985,Small,Tier 1,Grocery Store,487.3656
8504,NCN18,NaN,Low Fat,0.124111,Household,111.7544,OUT027,1985,Medium,Tier 3,Supermarket Type3,4138.6128

## **Phase 3. Data Preparation**

- *How do we prepare this data for modeling?*

- Construct Data/Feature Engineerin
- Clean the data for modeling.

## **Phase 4. Modeling**
- *What types of models/techniques should we use?*

- Select which types of models to try and their assumptions.
- Set aside some of the data to test the models. (25% saved for testing)
- Build and evaluate the Model
- Revise and iterate until you reach the stakeholder’s specifications.

## **Phase 5. Evaluation (in Business Terms)**
- *Which models best meets stakeholder/s needs?*

- Which model/result(s) should we provide to our stakeholders?
- Do the results meet the stakeholder’s success criteria?
- Summarize findings and make a note of anything you would do differently if you had to start the project from the beginning again.

## **Phase 6. Deployment**
- *How do stakeholders receive/access the results?*

# **OUTLINE**


<div class="ChatMessage_messageWrapper__Zf87D"><div class="Message_row___ur0Y"><div class="Message_botMessageBubble__CPGMI "><div class="Markdown_markdownContainer__UyYrv"><p>Inspecting the Data Process:</p> 
<ol>
<li>Load the Data:<br>
Load the data into a <a class=" MarkdownLink_linkifiedLink__KxC9G" node="[object Object]" prompt="Tell me more about pandas DataFrame.">pandas DataFrame</a> for <a class=" MarkdownLink_linkifiedLink__KxC9G" node="[object Object]" prompt="Tell me more about data manipulation.">data manipulation</a> and analysis.</li>
</ol>
<div><div class="MarkdownCodeBlock_codeHeader__5MZpO"><div class="MarkdownCodeBlock_languageName__trujB"></div><button class="Button_buttonBase__0QP_m Button_flat__1hj0f MarkdownCodeBlock_copyButton__nm6Dw"><svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M16.02 20.96H3.78c-.41 0-.75-.34-.75-.75V7.74c0-.41.34-.75.75-.75h7.87c.21 0 .39.08.53.22l4.37 4.37c.14.14.22.32.22.53v8.11c0 .4-.34.74-.75.74ZM4.53 19.47h10.75v-6.61h-3.62c-.41 0-.75-.34-.75-.75V8.48H4.53v10.99Z"></path><path d="m20.74 7.63-4.37-4.37c-.14-.14-.36-.2-.53-.22H8.01c-.41 0-.75.34-.75.75V5.5h1.49v-.97h6.34v3.62c0 .41.34.75.75.75h3.62v8.19h-1.2v1.49h1.95c.41 0 .75-.34.75-.75V8.16c0-.21-.08-.4-.22-.53Z"></path></svg> Copy</button></div><pre class="MarkdownCodeBlock_preTag__dDgT9" style="display: block; overflow-x: auto; background: rgb(43, 43, 43); color: rgb(248, 248, 242); padding: 0.5em;"><code class="MarkdownCodeBlock_codeTag__ipdCC" style="white-space: pre;"><span style="color: rgb(220, 198, 224);">import</span><span> pandas </span><span style="color: rgb(220, 198, 224);">as</span><span> pd
</span>
<span></span><span style="color: rgb(212, 208, 171);"># Load the data</span><span>
</span><span>url = </span><span style="color: rgb(171, 227, 56);">'https://drive.google.com/file/d/1syH81TVrbBsdymLT_jl2JIf6IjPXtSQw/view'</span><span>
</span><span>file_id = url.split(</span><span style="color: rgb(171, 227, 56);">'/'</span><span>)[-</span><span style="color: rgb(245, 171, 53);">2</span><span>]
</span><span>download_url = </span><span style="color: rgb(171, 227, 56);">'https://drive.google.com/uc?id='</span><span> + file_id
</span>df = pd.read_csv(download_url)

<span></span><span style="color: rgb(212, 208, 171);"># Check if the data is loaded successfully</span><span>
</span><span></span><span style="color: rgb(245, 171, 53);">print</span><span>(df.head())
</span></code></pre></div>
<ol start="2">
<li>Explore the Data:<br>
Get an overview of the data to gain insights about the <a class=" MarkdownLink_linkifiedLink__KxC9G" node="[object Object]" prompt="Tell me more about data structure.">data structure</a>, features, and data types.</li>
</ol>
<div><div class="MarkdownCodeBlock_codeHeader__5MZpO"><div class="MarkdownCodeBlock_languageName__trujB"></div><button class="Button_buttonBase__0QP_m Button_flat__1hj0f MarkdownCodeBlock_copyButton__nm6Dw"><svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M16.02 20.96H3.78c-.41 0-.75-.34-.75-.75V7.74c0-.41.34-.75.75-.75h7.87c.21 0 .39.08.53.22l4.37 4.37c.14.14.22.32.22.53v8.11c0 .4-.34.74-.75.74ZM4.53 19.47h10.75v-6.61h-3.62c-.41 0-.75-.34-.75-.75V8.48H4.53v10.99Z"></path><path d="m20.74 7.63-4.37-4.37c-.14-.14-.36-.2-.53-.22H8.01c-.41 0-.75.34-.75.75V5.5h1.49v-.97h6.34v3.62c0 .41.34.75.75.75h3.62v8.19h-1.2v1.49h1.95c.41 0 .75-.34.75-.75V8.16c0-.21-.08-.4-.22-.53Z"></path></svg> Copy</button></div><pre class="MarkdownCodeBlock_preTag__dDgT9" style="display: block; overflow-x: auto; background: rgb(43, 43, 43); color: rgb(248, 248, 242); padding: 0.5em;"><code class="MarkdownCodeBlock_codeTag__ipdCC" style="white-space: pre;"><span style="color: rgb(212, 208, 171);"># Check the shape of the data</span><span>
</span><span></span><span style="color: rgb(245, 171, 53);">print</span><span>(df.shape)
</span>
<span></span><span style="color: rgb(212, 208, 171);"># Check the data types of each column</span><span>
</span><span></span><span style="color: rgb(245, 171, 53);">print</span><span>(df.dtypes)
</span>
<span></span><span style="color: rgb(212, 208, 171);"># Check the summary statistics of the data</span><span>
</span><span></span><span style="color: rgb(245, 171, 53);">print</span><span>(df.describe(include=</span><span style="color: rgb(171, 227, 56);">'all'</span><span>))
</span>
<span></span><span style="color: rgb(212, 208, 171);"># Check the missing values in the data</span><span>
</span><span></span><span style="color: rgb(245, 171, 53);">print</span><span>(df.isna().</span><span style="color: rgb(245, 171, 53);">sum</span><span>())
</span></code></pre></div>
<ol start="3">
<li>Analyze the Data:<br>
Analyze the data to identify patterns, trends, relationships, and anomalies.</li>
</ol>
<div><div class="MarkdownCodeBlock_codeHeader__5MZpO"><div class="MarkdownCodeBlock_languageName__trujB"></div><button class="Button_buttonBase__0QP_m Button_flat__1hj0f MarkdownCodeBlock_copyButton__nm6Dw"><svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M16.02 20.96H3.78c-.41 0-.75-.34-.75-.75V7.74c0-.41.34-.75.75-.75h7.87c.21 0 .39.08.53.22l4.37 4.37c.14.14.22.32.22.53v8.11c0 .4-.34.74-.75.74ZM4.53 19.47h10.75v-6.61h-3.62c-.41 0-.75-.34-.75-.75V8.48H4.53v10.99Z"></path><path d="m20.74 7.63-4.37-4.37c-.14-.14-.36-.2-.53-.22H8.01c-.41 0-.75.34-.75.75V5.5h1.49v-.97h6.34v3.62c0 .41.34.75.75.75h3.62v8.19h-1.2v1.49h1.95c.41 0 .75-.34.75-.75V8.16c0-.21-.08-.4-.22-.53Z"></path></svg> Copy</button></div><pre class="MarkdownCodeBlock_preTag__dDgT9" style="display: block; overflow-x: auto; background: rgb(43, 43, 43); color: rgb(248, 248, 242); padding: 0.5em;"><code class="MarkdownCodeBlock_codeTag__ipdCC" style="white-space: pre;"><span style="color: rgb(212, 208, 171);"># Check the unique values of each categorical column</span><span>
</span><span></span><span style="color: rgb(220, 198, 224);">for</span><span> col </span><span style="color: rgb(220, 198, 224);">in</span><span> df.select_dtypes(include=</span><span style="color: rgb(171, 227, 56);">'object'</span><span>):
</span><span>    </span><span style="color: rgb(245, 171, 53);">print</span><span>(col.upper(), df[col].unique())
</span>
<span></span><span style="color: rgb(212, 208, 171);"># Check the distribution of numeric columns</span><span>
</span><span></span><span style="color: rgb(220, 198, 224);">import</span><span> matplotlib.pyplot </span><span style="color: rgb(220, 198, 224);">as</span><span> plt
</span><span></span><span style="color: rgb(220, 198, 224);">import</span><span> seaborn </span><span style="color: rgb(220, 198, 224);">as</span><span> sns
</span>
<span>sns.displot(df[</span><span style="color: rgb(171, 227, 56);">'Item_Outlet_Sales'</span><span>])
</span>plt.show()

<span></span><span style="color: rgb(212, 208, 171);"># Check the correlation between numeric columns</span><span>
</span><span>sns.heatmap(df.corr(), annot=</span><span style="color: rgb(245, 171, 53);">True</span><span>)
</span>plt.show()
</code></pre></div>
<p>Cleaning the Data:</p>
<ol>
<li>Handle Missing Values:<br>
Missing values in data can lead to biased or <a class=" MarkdownLink_linkifiedLink__KxC9G" node="[object Object]" prompt="Tell me more about incorrect analysis.">incorrect analysis</a>. We need to decide whether to remove or replace <a class=" MarkdownLink_linkifiedLink__KxC9G" node="[object Object]" prompt="Tell me more about missing values.">missing values</a> based on the amount and nature of <a class=" MarkdownLink_linkifiedLink__KxC9G" node="[object Object]" prompt="Tell me more about missing data.">missing data</a>.</li>
</ol>
<div><div class="MarkdownCodeBlock_codeHeader__5MZpO"><div class="MarkdownCodeBlock_languageName__trujB"></div><button class="Button_buttonBase__0QP_m Button_flat__1hj0f MarkdownCodeBlock_copyButton__nm6Dw"><svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M16.02 20.96H3.78c-.41 0-.75-.34-.75-.75V7.74c0-.41.34-.75.75-.75h7.87c.21 0 .39.08.53.22l4.37 4.37c.14.14.22.32.22.53v8.11c0 .4-.34.74-.75.74ZM4.53 19.47h10.75v-6.61h-3.62c-.41 0-.75-.34-.75-.75V8.48H4.53v10.99Z"></path><path d="m20.74 7.63-4.37-4.37c-.14-.14-.36-.2-.53-.22H8.01c-.41 0-.75.34-.75.75V5.5h1.49v-.97h6.34v3.62c0 .41.34.75.75.75h3.62v8.19h-1.2v1.49h1.95c.41 0 .75-.34.75-.75V8.16c0-.21-.08-.4-.22-.53Z"></path></svg> Copy</button></div><pre class="MarkdownCodeBlock_preTag__dDgT9" style="display: block; overflow-x: auto; background: rgb(43, 43, 43); color: rgb(248, 248, 242); padding: 0.5em;"><code class="MarkdownCodeBlock_codeTag__ipdCC" style="white-space: pre;"><span style="color: rgb(212, 208, 171);"># Check the missing values in the data</span><span>
</span><span></span><span style="color: rgb(245, 171, 53);">print</span><span>(df.isna().</span><span style="color: rgb(245, 171, 53);">sum</span><span>())
</span>
<span></span><span style="color: rgb(212, 208, 171);"># Drop the rows with missing values for 'Item_Weight' and 'Outlet_Size'</span><span>
</span><span>df.dropna(subset=[</span><span style="color: rgb(171, 227, 56);">'Item_Weight'</span><span>, </span><span style="color: rgb(171, 227, 56);">'Outlet_Size'</span><span>], inplace=</span><span style="color: rgb(245, 171, 53);">True</span><span>)
</span>
<span></span><span style="color: rgb(212, 208, 171);"># Fill the missing values of 'Item_Fat_Content' with the mode</span><span>
</span><span>df[</span><span style="color: rgb(171, 227, 56);">'Item_Fat_Content'</span><span>].fillna(df[</span><span style="color: rgb(171, 227, 56);">'Item_Fat_Content'</span><span>].mode()[</span><span style="color: rgb(245, 171, 53);">0</span><span>], inplace=</span><span style="color: rgb(245, 171, 53);">True</span><span>)
</span>
<span></span><span style="color: rgb(212, 208, 171);"># Fill the missing values of 'Outlet_Location_Type' with the mode</span><span>
</span><span>df[</span><span style="color: rgb(171, 227, 56);">'Outlet_Location_Type'</span><span>].fillna(df[</span><span style="color: rgb(171, 227, 56);">'Outlet_Location_Type'</span><span>].mode()[</span><span style="color: rgb(245, 171, 53);">0</span><span>], inplace=</span><span style="color: rgb(245, 171, 53);">True</span><span>)
</span>
<span></span><span style="color: rgb(212, 208, 171);"># Fill the missing values of 'Outlet_Type' with the mode</span><span>
</span><span>df[</span><span style="color: rgb(171, 227, 56);">'Outlet_Type'</span><span>].fillna(df[</span><span style="color: rgb(171, 227, 56);">'Outlet_Type'</span><span>].mode()[</span><span style="color: rgb(245, 171, 53);">0</span><span>], inplace=</span><span style="color: rgb(245, 171, 53);">True</span><span>)
</span>
<span></span><span style="color: rgb(212, 208, 171);"># Confirm if there are no missing values</span><span>
</span><span></span><span style="color: rgb(245, 171, 53);">print</span><span>(df.isna().</span><span style="color: rgb(245, 171, 53);">sum</span><span>())
</span></code></pre></div>
<ol start="2">
<li>Handle Duplicates:<br>
Duplicated data can lead to biased or incorrect analysis. We need to remove the duplicated data to ensure data integrity.</li>
</ol>
<div><div class="MarkdownCodeBlock_codeHeader__5MZpO"><div class="MarkdownCodeBlock_languageName__trujB"></div><button class="Button_buttonBase__0QP_m Button_flat__1hj0f MarkdownCodeBlock_copyButton__nm6Dw"><svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M16.02 20.96H3.78c-.41 0-.75-.34-.75-.75V7.74c0-.41.34-.75.75-.75h7.87c.21 0 .39.08.53.22l4.37 4.37c.14.14.22.32.22.53v8.11c0 .4-.34.74-.75.74ZM4.53 19.47h10.75v-6.61h-3.62c-.41 0-.75-.34-.75-.75V8.48H4.53v10.99Z"></path><path d="m20.74 7.63-4.37-4.37c-.14-.14-.36-.2-.53-.22H8.01c-.41 0-.75.34-.75.75V5.5h1.49v-.97h6.34v3.62c0 .41.34.75.75.75h3.62v8.19h-1.2v1.49h1.95c.41 0 .75-.34.75-.75V8.16c0-.21-.08-.4-.22-.53Z"></path></svg> Copy</button></div><pre class="MarkdownCodeBlock_preTag__dDgT9" style="display: block; overflow-x: auto; background: rgb(43, 43, 43); color: rgb(248, 248, 242); padding: 0.5em;"><code class="MarkdownCodeBlock_codeTag__ipdCC" style="white-space: pre;"><span style="color: rgb(212, 208, 171);"># Check for duplicate rows</span><span>
</span><span></span><span style="color: rgb(245, 171, 53);">print</span><span>(df.duplicated().</span><span style="color: rgb(245, 171, 53);">sum</span><span>())
</span>
<span></span><span style="color: rgb(212, 208, 171);"># Drop the duplicate rows</span><span>
</span><span>df.drop_duplicates(inplace=</span><span style="color: rgb(245, 171, 53);">True</span><span>)
</span>
<span></span><span style="color: rgb(212, 208, 171);"># Confirm if there are no duplicate rows</span><span>
</span><span></span><span style="color: rgb(245, 171, 53);">print</span><span>(df.duplicated().</span><span style="color: rgb(245, 171, 53);">sum</span><span>())
</span></code></pre></div>
<ol start="3">
<li>Handle Outliers:<br>
Outliers can distort the analysis and affect the accuracy of the predictive model. We need to identify and remove the <a class=" MarkdownLink_linkifiedLink__KxC9G" node="[object Object]" prompt="Tell me more about outliers.">outliers</a> based on the <a class=" MarkdownLink_linkifiedLink__KxC9G" node="[object Object]" prompt="Tell me more about domain knowledge.">domain knowledge</a> and <a class=" MarkdownLink_linkifiedLink__KxC9G" node="[object Object]" prompt="Tell me more about statistical methods.">statistical methods</a>.</li>
</ol>
<div><div class="MarkdownCodeBlock_codeHeader__5MZpO"><div class="MarkdownCodeBlock_languageName__trujB"></div><button class="Button_buttonBase__0QP_m Button_flat__1hj0f MarkdownCodeBlock_copyButton__nm6Dw"><svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M16.02 20.96H3.78c-.41 0-.75-.34-.75-.75V7.74c0-.41.34-.75.75-.75h7.87c.21 0 .39.08.53.22l4.37 4.37c.14.14.22.32.22.53v8.11c0 .4-.34.74-.75.74ZM4.53 19.47h10.75v-6.61h-3.62c-.41 0-.75-.34-.75-.75V8.48H4.53v10.99Z"></path><path d="m20.74 7.63-4.37-4.37c-.14-.14-.36-.2-.53-.22H8.01c-.41 0-.75.34-.75.75V5.5h1.49v-.97h6.34v3.62c0 .41.34.75.75.75h3.62v8.19h-1.2v1.49h1.95c.41 0 .75-.34.75-.75V8.16c0-.21-.08-.4-.22-.53Z"></path></svg> Copy</button></div><pre class="MarkdownCodeBlock_preTag__dDgT9" style="display: block; overflow-x: auto; background: rgb(43, 43, 43); color: rgb(248, 248, 242); padding: 0.5em;"><code class="MarkdownCodeBlock_codeTag__ipdCC" style="white-space: pre;"><span style="color: rgb(212, 208, 171);"># Check for outliers in 'Item_Weight' using boxplot</span><span>
</span><span>sns.boxplot(df[</span><span style="color: rgb(171, 227, 56);">'Item_Weight'</span><span>])
</span>plt.show()

<span></span><span style="color: rgb(212, 208, 171);"># Check for outliers in 'Item_Visibility' using boxplot</span><span>
</span><span>sns.boxplot(df[</span><span style="color: rgb(171, 227, 56);">'Item_Visibility'</span><span>])
</span>plt.show()

<span></span><span style="color: rgb(212, 208, 171);"># Check for outliers in 'Item_MRP' using boxplot</span><span>
</span><span>sns.boxplot(df[</span><span style="color: rgb(171, 227, 56);">'Item_MRP'</span><span>])
</span>plt.show()

<span></span><span style="color: rgb(212, 208, 171);"># Check for outliers in 'Item_Outlet_Sales' using boxplot</span><span>
</span><span>sns.boxplot(df[</span><span style="color: rgb(171, 227, 56);">'Item_Outlet_Sales'</span><span>])
</span>plt.show()

<span></span><span style="color: rgb(212, 208, 171);"># Remove the outliers in 'Item_Visibility'</span><span>
</span><span>df = df[df[</span><span style="color: rgb(171, 227, 56);">'Item_Visibility'</span><span>] &lt; </span><span style="color: rgb(245, 171, 53);">0.2</span><span>]
</span>
<span></span><span style="color: rgb(212, 208, 171);"># Remove the outliers in 'Item_Outlet_Sales'</span><span>
</span><span>df = df[df[</span><span style="color: rgb(171, 227, 56);">'Item_Outlet_Sales'</span><span>] &lt; </span><span style="color: rgb(245, 171, 53);">10000</span><span>]
</span>
<span></span><span style="color: rgb(212, 208, 171);"># Confirm if there are no outliers</span><span>
</span><span>sns.boxplot(df[</span><span style="color: rgb(171, 227, 56);">'Item_Outlet_Sales'</span><span>])
</span>plt.show()
</code></pre></div>
<ol start="4">
<li>Handle Inconsistent Data:<br>
Inconsistent data can lead to biased or incorrect analysis. We need to identify and correct the inconsistent data based on the domain knowledge and <a class=" MarkdownLink_linkifiedLink__KxC9G" node="[object Object]" prompt="Tell me more about data validation methods.">data validation methods</a>.</li>
</ol>
<div><div class="MarkdownCodeBlock_codeHeader__5MZpO"><div class="MarkdownCodeBlock_languageName__trujB"></div><button class="Button_buttonBase__0QP_m Button_flat__1hj0f MarkdownCodeBlock_copyButton__nm6Dw"><svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M16.02 20.96H3.78c-.41 0-.75-.34-.75-.75V7.74c0-.41.34-.75.75-.75h7.87c.21 0 .39.08.53.22l4.37 4.37c.14.14.22.32.22.53v8.11c0 .4-.34.74-.75.74ZM4.53 19.47h10.75v-6.61h-3.62c-.41 0-.75-.34-.75-.75V8.48H4.53v10.99Z"></path><path d="m20.74 7.63-4.37-4.37c-.14-.14-.36-.2-.53-.22H8.01c-.41 0-.75.34-.75.75V5.5h1.49v-.97h6.34v3.62c0 .41.34.75.75.75h3.62v8.19h-1.2v1.49h1.95c.41 0 .75-.34.75-.75V8.16c0-.21-.08-.4-.22-.53Z"></path></svg> Copy</button></div><pre class="MarkdownCodeBlock_preTag__dDgT9" style="display: block; overflow-x: auto; background: rgb(43, 43, 43); color: rgb(248, 248, 242); padding: 0.5em;"><code class="MarkdownCodeBlock_codeTag__ipdCC" style="white-space: pre;"><span style="color: rgb(212, 208, 171);"># Check the unique values of 'Item_Fat_Content'</span><span>
</span><span></span><span style="color: rgb(245, 171, 53);">print</span><span>(df[</span><span style="color: rgb(171, 227, 56);">'Item_Fat_Content'</span><span>].unique())
</span>
<span></span><span style="color: rgb(212, 208, 171);"># Replace the inconsistent values of 'Item_Fat_Content' with the consistent values</span><span>
</span><span>df[</span><span style="color: rgb(171, 227, 56);">'Item_Fat_Content'</span><span>].replace({</span><span style="color: rgb(171, 227, 56);">'LF'</span><span>: </span><span style="color: rgb(171, 227, 56);">'Low Fat'</span><span>, </span><span style="color: rgb(171, 227, 56);">'low fat'</span><span>: </span><span style="color: rgb(171, 227, 56);">'Low Fat'</span><span>, </span><span style="color: rgb(171, 227, 56);">'reg'</span><span>: </span><span style="color: rgb(171, 227, 56);">'Regular'</span><span>}, inplace=</span><span style="color: rgb(245, 171, 53);">True</span><span>)
</span>
<span></span><span style="color: rgb(212, 208, 171);"># Confirm if there are no inconsistent values</span><span>
</span><span></span><span style="color: rgb(245, 171, 53);">print</span><span>(df[</span><span style="color: rgb(171, 227, 56);">'Item_Fat_Content'</span><span>].unique())
</span></code></pre></div></div></div><div class="Message_expander__DG8OV"></div></div><div class="Message_botOptimisticFooter__aQiG9"></div></div>